<form [formGroup]="formulario" #formDr="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group d-flex">
    <label for="name">
      <i
        ><mat-icon
          ><span class="material-icons-outlined"> people </span></mat-icon
        ></i
      >
    </label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="nome"
      formControlName="name"
      [ngClass]="{ 'is-invalid': submitted && formulario.get('name') }"
    />
    <div *ngIf="name.invalid && formDr.submitted" class="validation-errors">
      <p *ngIf="name.errors?.['required']">Necessário inserir nome!</p>
    </div>
  </div>
  <br />
  <div class="form-group d-flex">
    <label for="email">
      <i
        ><mat-icon
          ><span class="material-icons-outlined"> email </span></mat-icon
        ></i
      >
    </label>
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="email"
      formControlName="email"
      [ngClass]="{ 'is-invalid': submitted && hasErrors('name') }"
    />
    <div *ngIf="email.invalid && formDr.submitted" class="validation-errors2">
      <p *ngIf="email.errors?.['required']">Necessário inserir email!</p>
    </div>
  </div>
  <br />

  <div class="form-group d-flex">
    <label for="password">
      <i
        ><mat-icon
          ><span class="material-icons-outlined"> password </span></mat-icon
        ></i
      >
    </label>

    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="senha"
      formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && hasErrors('password') }"
    />
    <div
      *ngIf="password.invalid && formDr.submitted"
      class="validation-errors3"
    >
      <p *ngIf="password.errors?.['required']">Necessário inserir senha!</p>
    </div>
  </div>
  <br />
  <div class="text-center mb-5 d-flex justify-content-between">
    <button type="button" class="btn btn-light" routerLink="/login/enter">
      Voltar
    </button>
    <i class="material-icons iconsT2">folder</i>
    <button type="button" (click)="onSubmit()" class="buttons">Salvar</button>
    <i class="material-icons iconsT">save</i>
  </div>
</form>
